[package]
name = "duviz"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
ratatui = "0.26"
crossterm = "0.27"
walkdir = "2.5"
libc = "0.2"

[profile.release]
opt-level = "z"
lto = "fat"
codegen-units = 1
panic = "abort"
strip = "symbols"
